repos:
  - repo: local
    hooks:
      - id: interrogate
        name: interrogate
        language: system
        entry: interrogate
        types: [python]
        exclude: ^(docs/conf.py|setup.py|tests/functional/sample)
        args: [--config=pyproject.toml]

  - repo: https://github.com/psf/black
    rev: 21.8b0
    hooks:
      - id: black

  - repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        exclude: ^(tests/functional/sample)

  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.9.3
    hooks:
      - id: isort
        additional_dependencies: [toml]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: debug-statements
