---
ci:
  autoupdate_schedule: monthly

repos:
  - repo: local
    hooks:
      - id: interrogate
        name: interrogate
        language: system
        entry: interrogate
        types: [python]
        exclude: ^(docs/conf.py|setup.py|tests/functional/sample)
        args: [--config=pyproject.toml]

  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black

  - repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
        exclude: ^(tests/functional/sample)

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        additional_dependencies: [toml]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: debug-statements
      - id: check-toml
      - id: check-yaml
