include LICENSE *.rst *.toml *.yml *.yaml *.ini
include src/interrogate/badge/*.svg
graft .github

# Tests
include tox.ini conftest.py
recursive-include tests *.py *.pyi
recursive-include tests *.svg *.png
recursive-include tests *.txt

# Documentation
include docs/Makefile docs/docutils.conf
recursive-include docs *.png
recursive-include docs *.svg
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs *.css
recursive-include docs *.html
prune docs/_build

# Ignore github-related markdown files
exclude *.md
